.dashboard {
  display: flex;
  background-color: #f7f7f7;
  height: 100vh;

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .topbar {
      height: 80px;
      margin: 0 0 32px;
      padding: 26px 34px 26px 32px;
      box-shadow: inset 0 -1px 0 0 #d9d9d9;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em 2em;
      .title {
        color: #1a181e;
        display: flex;
        align-items: center;
        font-weight: bolder;
        font-size: 1.2em;
        img {
          margin-left: 0.5em;
        }
      }
      .info {
        height: 28px;
        margin: 0 0 0 812px;
        padding: 3px 8px 5px;
        border-radius: 4px;
        background-color: #146eb410;
        color: #146eb4;
        display: flex;
        align-items: center;
        font-weight: bolder;
        font-size: 0.85em;
      }
    }
  }

  // Common styles
  .stats,
  .orders {
    padding: 0 34px 16px 32px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
      span {
        font-weight: bolder;
        font-size: 1.2em;
      }
      a {
        color: #4d4d4d90;
        display: flex;
        align-items: center;
        font-size: 1.1em;
        font-weight: bolder;
      }
    }
  }

  // Stats - specific
  .stats {
    .header {
      .calendar {
        height: 36px;
        padding: 6px 14px;
        border-radius: 4px;
        border: solid 1px #cccccc;
        background-color: #fff;
        color: #4d4d4d;
        display: flex;
        align-items: center;
        img {
          margin-left: 5px;
        }
      }
    }
    .content {
      flex-direction: row;
      color: #4d4d4d;
      .share-card {
        width: 60%;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 6px 0 rgba(26, 24, 30, 0.04);
        background-color: #fff;
        .meta {
          padding-bottom: 1em;
        }
        .link {
          color: #ee741f;
          font-weight: bolder;
        }
        .share-via {
          margin-top: 2em;
          font-weight: bolder;
          .providers {
            margin-top: 1em;
            width: 40%;
            max-width: 130px;
            display: flex;
            justify-content: space-between;
          }
        }
      }
      .overview {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        .card {
          display: flex;
          flex-direction: column;
          width: 48%;
          margin-left: 2%;
          padding: 17px 281px 16px 20px;
          border-radius: 8px;
          box-shadow: 0 2px 6px 0 rgba(26, 24, 30, 0.04);
          background-color: #fff;
          &:nth-of-type(n + 3) {
            margin-top: 1em;
          }
          .name {
            font-family: "Galano Medium";
            text-transform: uppercase;
            color: #4d4d4d;
            line-height: 1.5;
            width: max-content;
          }
          .value {
            width: 48px;
            height: 38px;
            margin: 4px 19px 0 0;
            font-family: "Galano Medium";
            font-size: 2em;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #1a181e;
          }
        }
      }
    }
  }

  .orders {
    padding-top: 1em;
    .overview {
      margin-top: 1em;
      display: flex;
      align-items: center;

      .label {
        height: 36px;
        padding: 6px 20px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        background-color: #e5e5e5;
        color: #808080;
        font-weight: bolder;
        cursor: pointer;
        &:nth-of-type(n + 2) {
          margin-left: 1em;
        }
        &.active {
          background-color: #146eb4;
          color: #fff;
        }
      }
    }

    .details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .card {
        width: 32%;
        margin-top: 1em;
        height: 148px;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 2px 6px 0 rgba(26, 24, 30, 0.04);
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        .left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .id {
            font-weight: bolder;
            display: flex;
            align-items: center;
            .type {
              height: 20px;
              padding: 2px 6px;
              border-radius: 3px;
              background-color: #17b31b;
              color: #fff;
              text-transform: uppercase;
              font-size: 0.8em;
              margin-left: 0.5em;
            }
          }
          .thumbnail {
            display: flex;
            .info {
              align-self: center;
              margin-left: 1em;
              .quantity {
                color: #808080;
              }
              .price {
                font-weight: bolder;
                margin-top: 0.5em;
                color: #1463b4;
              }
            }
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .time {
            color: #808080;
            font-size: 0.9em;
          }
          a {
            height: 32px;
            padding: 4px 8px 4px 12px;
            border-radius: 4px;
            border: solid 1px #cccccc;
            background-color: #fff;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #1a181e;
          }
        }
      }
    }
  }
}
